

$text-hover-color: #404085; //text color on hoover
$base-color-dark: rgb(229, 229, 229); //base color dark tones (used for the background)
$base-color-mid: rgb(245, 245, 245); //base color mid tones (used for midtones)
$base-color-light: rgb(255, 255, 255); //base color light tones (used for light zones)
$btn-secondary-color-hover: #bdbdbd;// secondary button color on hoover
$btn-secondary-color:#d6d6d7; // secondary button color 

body{
    background-color: $base-color-mid;
}
header{
    height: 6%;
    margin-top: 0.5%;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-image{
    width: 50px;
    margin: auto;
}

#input_post_title{
    border: none;
    border-radius: 1px;
    background: transparent;
    font-weight:bold;
    font-size: large ; 
    font-size: 35px ;
    
}

#editor{
    background-color: white;


}