body {
  background-color: #F5F5F5;
  width: 100vw;
}

.card-img-top{
  max-height: 325px;
  max-width: 200px;
}

.card-title{
  margin-left: 50px;
  margin-right: 50px;
}
.btn-primary{
  background-color: #190AA4 !important;
}

.form-comments{
  margin-left: 50px;
}
.card-text{
  margin-left: 50px;
  margin-right: 50px;
}
.image-title img {
  border-radius: 50%;
}

.text-styles a {
  text-decoration: none !important;
  color: #000000;
}

footer {
  background-color: #E4E5E4;
  font-family: sans-serif;
  font-size: 1rem;
}
footer #leaves {
  width: 6rem;
  border-radius: 10px;
}
footer #leaves:hover {
  background-color: #D4D5E5;
}
footer a {
  text-decoration: none;
}

.card-header-color {
  background-color: #190AA4;
  height: 3rem;
}

#right-aside-top-card > h5 {
  padding-left: 7rem;
}

#right-aside-card-list, .card-body {
  color: rgba(0, 0, 0, 0.65) !important;
  background-color: #FAFAFA;
}

#profile-pic {
  height: 4rem;
  width: 4rem;
  left: 2rem;
  top: 1.5rem;
}

#left-aside {
  box-shadow: 0px -2px 8px #888888;
  background-color: #F5F5F5 !important;
}

/*aqui se pega la version anterior-----------------------------------*/
@media only screen and (min-width: 992px) {
  .sticky-property-right-aside {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-left: 0.75rem;
  }
  #left-aside {
    justify-content: right !important;
    box-shadow: none;
    background-color: #F5F5F5 !important;
  }
  #icongroup-container {
    height: 350px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-top: 1rem;
  }
  #icon-counter-container {
    width: 100%;
  }
}
.icon-container {
  height: 40px;
  width: 40px;
  position: relative;
}

.aside-icon-default {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 0;
  position: absolute;
}

.aside-icon-hover, .aside-icon-cheked {
  opacity: 0;
}

.checkedlabel:hover .aside-icon-hover {
  opacity: 1;
}

.checkboxhider {
  display: none;
}

.checkboxhider:checked ~ .checkedlabel > {
  /*revisar que funcione bien------------------*/
}
.checkboxhider:checked ~ .checkedlabel > .aside-icon-hover, .checkboxhider:checked ~ .checkedlabel > .aside-icon-default {
  display: none;
}
.checkboxhider:checked ~ .checkedlabel > .aside-icon-cheked {
  opacity: 1;
  border-style: solid;
  border-width: 2px;
}
@media only screen and (min-width: 992px) {
  .checkboxhider:checked ~ .checkedlabel > .pop-menu-container {
    display: flex;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    left: 60px;
  }
  .checkboxhider:checked ~ .checkedlabel > .pop-menu-container ul {
    list-style: none;
  }
}

.aside-icon-hover, .aside-icon-cheked {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: 0.4s;
  top: 0;
  position: absolute;
}

#heart {
  border-color: #DC1B26;
}

#unicorn {
  border-color: #199A6E;
}

#save {
  border-color: #44509E;
}

.list-group-item {
  background-color: #FAFAFA;
}
.list-group-item:hover {
  background-color: white;
}

.pop-menu-container {
  display: none;
}/*# sourceMappingURL=postDetailG.css.map */